*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}



html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(14px, 1.5vw, 20px);
}
body{
    min-height: 100vh;
    background: #ff0000;
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 179, 1) 100%);
    background-size: contain;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
    justify-content: center;
    align-items: center;
}

.container{
    margin-inline: auto;
    padding: 1rem;
}
.button{
    padding: 0.8rem 2rem ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border-radius: 0.5rem;
}
#title{
    font-size: clamp(2rem, 4vw, 5rem);
    text-align: center;
    font-weight: bolder;
    color: white;
}
#invite{
    max-width: 400px;
    width: 70%;
    max-height: 800px;
    height: 80%;
    border-radius: 2rem;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#inviteText{
    color: white;
    text-align: center;
}
#yesNo{
    display: flex;
    gap: 1rem;
}
#yesButton:hover{
    background-color: pink;
    cursor: pointer;
}
#noButton:hover{
    background-color: pink;
    cursor: pointer;
}
#noButton:active{
    transition: transform 0.06s ease;
    transform: translate(80px, 250px);
}
@media (min-width: 769px){
    body{
        min-height: 100vh;
        background: #ff0000;
        background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 179, 1) 100%);
        background-size: contain;
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        justify-content: center;
        align-items: center;
    }
    #invite{
        max-width: 400px;
        width: 70%;
        max-height: 800px;
        height: 50%;
    }
    #noButton:active{
        transition: transform 0.06s ease;
        transform: translate(-80px, -250px);
}
}