*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}



html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(14px, 1.5vw, 20px);
}
body{
    min-height: 100vh;
    background: #ff0000;
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 179, 1) 100%);
    background-size: contain;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.container{
    margin-inline: auto;
    padding: 1rem;
}
.button{
    padding: 0.8rem 2rem ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border-radius: 0.5rem;
}
#when{
    color: white;   
    font-size: clamp(4rem, 7vw, 5rem);
}
#date form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#dateField{
    background-color: white;
    text-align: center;
    font-size: 1rem;
    border-radius: 1rem;
    height: 50px;
}
#submit{
    justify-self: center;
    padding: 1rem;
    border-radius: 2rem;
}
#submit:hover{
    background-color: pink;
    cursor: pointer;
}

@media (min-width: 762px){

}