*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}



html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
body{
    min-height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}
.button{
    padding: 0.8rem 2rem ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0.5rem;
}