*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}



html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
body{
    min-height: 100vh;
    background: #ff0000;
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 179, 1) 100%);
    display: grid;
    grid-template-rows: 0.8fr 2fr 1fr;
    place-items: center;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}
.button{
    padding: 0.8rem 2rem ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0.5rem;
}
#wh{
    color: white;
    font-size: clamp(3rem, 7vw, 5rem);
}
#map { 
    width: 350px;
    height: 350px;
}
#location form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
#longitude,
#latitude{
    min-width: 250px;
    width: 100%;
    height: 40px;
    background-color: white;
}
#submit{
    justify-self: center;
    padding: 1rem;
}

@media (min-width: 762px){
    #map { 
    width: 500px;
    height: 500px;
    }
    #longitude,
    #latitude{
    text-align: center;
    min-width: 700px;
    width: 100%;
    height: 40px;
    background-color: white;
    }
}