*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}



html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
body{
    min-height: 100vh;
    background: #ff0000;
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 179, 1) 100%);
    display: grid;
    grid-template-rows: 0.2fr 1fr ;
    place-items: center;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}
.button{
    padding: 0.8rem 2rem ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.error {
    background-color: #ffe6e6;
    border: 4px solid darkred;
}
#who{
    color: white;
    font-size: clamp(2rem, 6vw, 6rem);
}
#apply form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
#apply input{
    width: clamp(220px, 60vw, 800px);
    border-radius: 0.5rem;
    height: 30px;
    font-size: 1rem;
}
#apply input[type="submit"]{
    align-self: center;
    width: clamp(100px, 40vw, 400px);
    border-radius: 0.5rem;
    height: 50px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#submit{
    margin-top: 1.5rem;
}
#submit:hover{
    background-color: pink;
    cursor: pointer;
}